<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="adopt-website-id" content="9dc95f03-5658-4ded-8e68-d445f0634652"> 
    <script src="//tag.goadopt.io/injector.js?website_code=9dc95f03-5658-4ded-8e68-d445f0634652" class="adopt-injector"></script>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>    
    <link rel="stylesheet" href="{{style}}">
    <link rel="stylesheet" href="/stylesheets/stylesNavbar.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/stylesheets/stylesFooter.css">
    <link rel="icon" href="/images/logo.svg">
  </head>
  <body onload="{{funcao}}" class="d-flex flex-column vh-100 min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="/" class="navbar-brand m-1">
                    <img src="/images/logo.svg" alt="Logo Maua Salas" id="logo" width="80px">
                </a>
                {{#if isAuthenticated }}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Olá, {{username}}!
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item btn botaoLogin px-4 me-4" href="/auth/signout">Sair</a></li>
                    </ul>
                </div>
                {{else}}
                <a type="button" href="/auth/signin" class="btn botaoLogin px-4 me-4">Login</a>
                {{/if}}
            </div>
        </nav>
    </header>
    {{{body}}}
    <footer class="mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center mt-3">Mauá Salas - 2023</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="crossorigin=""></script>  
    <script src="{{script}}"></script>
    </body>
</html>
